.quest-description
    display flex
    flex-direction column
    align-items center

    &__name-edit
        display flex
        align-items center
    &__edit
        height 25px
    &__tags
        font-style italic
