.photo-add-button
    font 400 .78em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform uppercase
    letter-spacing 1px
    line-height 30px
    background-color #fff
    outline none
    border 1px solid #45c1e3
    border-radius 3px
    cursor pointer
    margin-top 30px
    height 30px


// <input className="photo-add-button" type="submit" value="Добавить" />
