<p>Всего результатов {{total}} по вашему запросу</p>

{% for searchHit in searchHits %}
{% if loop.first %}<ol>{% endif %}
    <li>
        <ul>
            <li><a href="/quests/{{searchHit['_id']}}">Имя квеста - {{ searchHit['_source']['name'] }}</a></li>
            <li>Автор - {{ searchHit['_source']['author'] }}</li>
            <li>Город - {{ searchHit['_source']['city'] }}</li>
            <li>Описание - {{ searchHit['_source']['description'] }}</li>
        </ul>
    </li>
    {% if loop.last %}</ol>{% endif %}
{% endfor %}