<div class="signin">
    <form class="form" action="/signin" method="post" id="signin">
        <div class="form__field">
            <label class="form__label" for="signin-username">Логин</label>
            <input class="form__input" id="signin-username" name="username" type="text">
        </div>
        <div class="form__field">
            <label class="form__label" for="signin-password">Пароль</label>
            <input class="form__input" id="signin-password" name="password" type="password">
        </div>
        <button class="form__button" type="submit">Войти</button>
    </form>
    <span class="question">Ещё не зарегистрированы?
        <a class="question__link" href="signup.html">Исправить ошибку!</a>
    </span>
</div>
