.user-info
    &__header
        font 500 1em 'Graphik Web', Helvetica, Arial, sans-serif
        text-transform uppercase
        letter-spacing 1px
        text-align center
        color #8e8d8d
        margin 0 0 30px 0

    &__container
        display flex
        flex-direction column
        margin 50px 0
        padding 40px 45px
        max-width 350px

    &__data-edit
        font 300 .8em 'Graphik Web', Helvetica, Arial, sans-serif
        line-height 35px
        color #8e8d8d
        margin 6px 0
        padding 10px 20px
        outline-color #fe7877
        background-color #f4f4f4
        border-radius 3px
        border 1px solid #ebebeb
        height 45px
        width 100%
        box-sizing border-box
        -moz-box-sizing border-box
        -webkit-box-sizing border-box

    &__label
        color #8e8d8d
        font 300 1em 'Graphik Web', Helvetica, Arial, sans-serif
        line-height 1.5

    &__save
        font 400 0.68em 'Graphik Web', Helvetica, Arial, sans-serif
        text-transform uppercase
        letter-spacing 1px
        line-height 45px
        color #fff
        background-color #fe7877
        outline none
        border none
        border-radius 3px
        cursor pointer
        margin-top 30px
        height 45px
        padding 0 15px
