.quests-label
    display block
    font 500 1em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform uppercase
    letter-spacing 1px
    text-align center
    color #8e8d8d
    margin 0 0 30px 0
