$radius = 3px
$pink = #fe7877

.user-info
    display flex
    color #2d3e4a
    font 1em Graphik Web, Helvetica, Arial, sans-serif
    margin-bottom 20px

    &__avatar-container
        margin-rigth 20px
        padding 10px
        box-shadow 0 0 8px -1px rgba(84,84,84,.25)
        background-color #fff
        border-radius $radius

    &__avatar
        width 100px
        height 100px

    &__label
        font-weight 500

    &__data
        font-weight 400

    &__data-edit,
    &__avatar-input
        height 25px
        outline-color $pink
        border-radius $radius
        border 1px solid #ebebeb
        background-color #f4f4f4
        font-weight 300

.user-info__edit,
.user-info__save
    background-color $pink
    color: #fff
    font-weight 300
    border-radius $radius
    text-transform uppercase
    cursor pointer
