.header
  display flex
  justify-content space-between
  background-color #5bcbe3
  padding 25px
  color #fff
  user-select none
  font 400 10px 'Graphik Web', Helvetica, Arial, sans-serif
  text-transform uppercase
  letter-spacing 1px
  height 20px

  &__title
    font-size 15px
    font-weight 500

  &__login,
  &__signup
    display inline-block
    margin 0 10px
    line-height 20px
    color: #fff
    text-decoration none

  &__login:hover,
  &__signup:hover
    color #fff
    text-decoration underlinetext-decoration underline