@import '../signin-form/signin-form.styl'

.header
  display: flex
  justify-content: space-between

.site-title
  margin: 0

.singin-search__hide
    border: 1px solid #000
    padding: 3px
    cursor: pointer
