.banner
    display flex
    flex-flow row

    font 400 1em 'Graphik Web', Helvetica, Arial, sans-serif
    background-color #45c1e3
    color #fff

    &__image
        order 1
        background url('../../blocks/banner/1.png') no-repeat
        background-position bottom
        background-size contain
        width 50%
        min-height 450px

    &__description
        order 2
        padding 150px 0 70px 60px
        max-width 450px

    &__text
        font-size 3em
        font-weight 500
        padding 20px 0

    &__button
        color inherit
        display inline-block
        text-decoration none
        border 2px solid #fff
        padding 10px 25px
        text-transform: uppercase
        letter-spacing: 1px
        cursor pointer
        user-select none
        -webkit-user-select none

    &__button:hover
        color inherit
        background-color rgba(255, 255, 255, .12)

    &__button:active
        color inherit

@media screen and (max-width: 980px)
    .banner
        flex-flow column

        &__image
            order 2
            width 100%
            min-height 250px

        &__description
            order 1
            padding 0 30px
            margin 0 auto
