@import '../../blocks/header/header.styl';

html,
body
    padding 0
    margin 0
    height 100%
    width 100%
    display flex
    flex-flow: row wrap;

.header
    flex: 1 100%;

.main
    display flex
    flex: 1 100%;
    justify-content center
    flex-flow: row wrap;
