<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% if not isDev %}
    <link rel="stylesheet" href="{{ bundleBase }}search.bundle.css">
    {% endif %}
    <script type="text/javascript" src="{{ bundleBase }}search.bundle.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<main class="main">
    {% include "../../blocks/header/header.html" %}

    {% include "../../blocks/search-list/search-list.html" %}

    {% include "../../blocks/footer/footer.html" %}
</main>
</body>
</html>
