// Да, не по бэму, будет время - переделать надо
.stage__map
    width 200px
    height 200px

.stages-list__elem
    display flex

.photo-list-component
    display flex
    flex-direction column

.stages-list__elem
    display flex
    flex-direction column
    justify-content center
    align-items center

.stage__photo
    max-width 300px
    max-height 300px
