.quest-list
    &__item
        display inline-block
        font 400 1em 'Graphik Web', Helvetica, Arial, sans-serif
        background-color #fff
        box-shadow 0 5px 15px rgba(0, 0, 0, 0.05)
        list-style-type none
        border-radius 3px
        margin-bottom 40px
        width 100%

    &__entry
        margin 40px

    &__name
        margin 0

    &__name a,
    &__name a:hover,
    &__name a:active
        font-weight 600
        font-size 17px
        color #303133

    &__name a,
    &__name a:hover,
    &__name a:active
    &__author a,
    &__author a:hover,
    &__author a:active
        outline 0
        border 0
        text-decoration none

    &__name a:hover,
    &__author a:hover
        color #1080d0

    &__date-container,
    &__city-container,
    &__author,
    &__author a,
    &__city
        margin 0
        color #8e8d8d
        font-size 11px
        font-weight 600
        line-height 1.75

    &__author
        margin 13px 0 0

    &__image
        width 100%

    &__image-container,
    &__image
        border-top-left-radius 3px
        border-top-right-radius 3px

    &__description
        margin 13px 0 0
        color #777
        font-size 15px
        font-weight 400
        line-height 1.75

    &__line
        border-color #eaeaea
        margin 18px 0
        border 0
        border-top-width 1px
        border-style solid
        box-sizing content-box
        height 0
        color rgba(0, 0, 0, .15)

    &__bottom-meta-inf-wrap
        text-align right

    &__post-like
        cursor pointer
        font-size 15px

    &__post-like:hover
        color #1080d0

.fa-calendar-o,
.fa-user,
.fa-heart,
.fa-heart-o
    margin-right 6px

.fa-map-marker
    margin: 0 8px 0 2px;

.quest-list__image
    max-width 400px
