@import '../../blocks/header/header.styl'
@import '../../blocks/footer/footer.styl'
@import '../../blocks/signin-form/signin-form.styl'

html,
body
    padding 0
    margin 0
    width 100%
    display flex
    min-height 100vh
    flex-direction column

.main
    display flex
    flex 1 100%
    justify-content center
    align-items center
