@import '../../blocks/header/header.styl'
@import '../../blocks/footer/footer.styl'
@import '../../blocks/search-form/search-form.styl'
@import '../../components/questList/questList.styl'
@import '../../components/questList/questListItemComponent.styl'

html,
body
    padding 0
    margin 0
    width 100%
    min-height 100vh
    display flex
    flex-direction column

.search-section
    display flex
    justify-content center
    align-items center
    background-color #f7f7f7
    flex: 1 0 auto

.quest-section
    flex: 1 0 auto
    display flex
    justify-content center
    background-color #f7f7f7

section *
    box-sizing border-box !important
