@import '../../blocks/header/header.styl';
@import '../../blocks/banner/banner.styl';

@font-face
{
  font-family: 'Graphik Web';
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/aaea05fb924a15b190da0f8e97724f03.eot);
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/aaea05fb924a15b190da0f8e97724f03.eot?#iefix) format('embedded-opentype'), url(https://d3ptyyxy2at9ui.cloudfront.net/cc4834ba2b1242862bf8d016d04fe352.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face
{
  font-family: 'Graphik Web';
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/2a8cf1a7c12d9998ad518a1dcbc7bce8.eot);
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/2a8cf1a7c12d9998ad518a1dcbc7bce8.eot?#iefix) format('embedded-opentype'), url(https://d3ptyyxy2at9ui.cloudfront.net/ceb6271a1408a9f2949b1c991c469b39.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}

@font-face
{
  font-family: 'Graphik Web';
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/d11055fd5a9c36075f809f31896af815.eot);
  src: url(https://d3ptyyxy2at9ui.cloudfront.net/d11055fd5a9c36075f809f31896af815.eot?#iefix) format('embedded-opentype'), url(https://d3ptyyxy2at9ui.cloudfront.net/d68d544942ec23a14b6157d57451fbeb.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal
}

html,
body
  padding 0
  margin 0

body
  background-color #fff

.quest-list-container
  display flex
  justify-content center