@import '../../blocks/header/header.styl'
@import '../../blocks/sign-in/sign-in.styl'
@import '../../blocks/sign-in-form/sign-in-form.styl'

body
    font-family 'Exo 2', sans-serif

.main
    display flex
    justify-content center
