.search-form
    margin 50px 40px
    width 350px

    &__container
        overflow hidden
        vertical-align middle
        white-space nowrap

    &__container:hover .search-form__button,
    &__container:active .search-form__button,
    &__container:focus .search-form__button
        outline none
        opacity 1
        margin-left -50px

    &__container:hover .search-form__button:hover
        background-color #fe7877

    &__input
        -webkit-appearance none
        font 300 1em 'Graphik Web', Helvetica, Arial, sans-serif
        line-height 25px
        color #a9a9a9
        background-color #e7e6e6
        border none
        border-radius 3px
        width 100%
        height 50px
        outline none
        padding 10px 20px
        float left
        padding-left 15px
        box-sizing border-box
        -moz-box-sizing border-box
        -webkit-box-sizing border-box

    &__button
        font 300 1em 'Graphik Web', Helvetica, Arial, sans-serif
        text-transform uppercase
        letter-spacing 1px
        background #25313C
        color #fff
        cursor pointer
        outline none
        border none
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        height 50px
        width 50px
        opacity 0
        transition all .55s ease
