.search-form
  display: block

  &__input,
  &__button
    display inline-block
    margin: 40px 0
    height 50px
    border 1px solid #ebebeb
    border-radius 3px

  &__input
    font 300 1em 'Graphik Web', Helvetica, Arial, sans-serif
    width 450px
    line-height 50px
    background-color #f4f4f4
    outline none
    padding 10px 20px

  &__button
    font 300 .8em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform: uppercase
    letter-spacing: 1px
    width 100px
    background-color #fe7877
    color: #fff
    cursor pointer
    outline none

  &__button:hover
    background-color #fe7888
