.signup
  box-shadow 0 0 8px -1px rgba(84,84,84,.25)
  padding 60px 45px
  border-radius 3px
  max-height 320px

.form
  &__header
    font 500 1em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform uppercase
    text-align center
    letter-spacing 1px
    color #8e8d8d
    margin-top 0
    margin-bottom 30px

  &__input
    font 300 .8em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform: uppercase
    letter-spacing: 1px
    margin 6px 0
    outline-color #fe7877
    height 25px
    width 250px
    line-height 35px
    color #a9a9a9
    border-radius 3px
    border 1px solid #ebebeb
    background-color #f4f4f4
    padding 10px 20px

  &__button
    font 300 .78em 'Graphik Web', Helvetica, Arial, sans-serif
    text-transform: uppercase
    letter-spacing: 1px
    background-color #fe7877
    height 45px
    width 100%
    line-height 35px
    border none
    border-radius 3px
    color #fff
    margin-top 30px
    cursor pointer