@import '../../blocks/header/header.styl'
@import '../../blocks/footer/footer.styl'
@import '../../components/quests/quest.styl'
@import '../../components/quests/questEdit.styl'
@import '../../components/comments/CommentList.styl'
@import '../../components/comments/Comment.styl'

html,
body
    padding 0
    margin 0
    width 100%
    display flex
    min-height 100vh
    flex-direction column

.main
    display flex
    flex: 1 0 auto
    justify-content center
    align-items center
